<?xml version="1.0"?>
<model>
  <name>skye</name>
  <version>1.0</version>
  <sdf version='1.5'>model.sdf</sdf>

  <author>
   <name>Marco Tranzatto</name>
   <email>marco@skye.aero</email>
  </author>

  <description>
    This is a SDF model of the airship Skye, by Aerotainment.
  </description>
</model>
