<?xml version="1.0"?>

<launch>
  <arg name="name" default="skye"/>
  <arg name="model_path" default="$(find skye_description)/sdf/model.sdf"/>

  <arg name="x" default="0.0"/>
  <arg name="y" default="0.0"/>
  <arg name="z" default="3.0"/>

  <!-- push robot_description to factory and spawn robot in gazebo -->
  <node name="spawn_robot" pkg="gazebo_ros" type="spawn_model"
        args="-file $(arg model_path)
          	  -sdf
              -model $(arg name)
              -x $(arg x)
              -y $(arg y)
              -z $(arg z)"
        respawn="false" output="screen"/>

</launch>

